html, body {
}

.navbar-default {
  border-color: lightgray;
}

.navbar-default .navbar-header .navbar-brand {
  color: #FFCC00;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
      color: #CCA300;
  }

.navbar-default .nav > li>a, .navbar-default .nav>li>a:focus {
  color: black;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
      color: #FFCC00;
  }


.page-header {
  margin-top: 1.5em;
  font-family: 'Helvetica Neue';
  text-align: center;
  border-bottom: none;
}

.main-portfolio {
  padding: 4em;
  background-color: black;
}

.portfolio-item {
  margin-bottom: 1em;
}

#contact {
  background-color: white;
}

.thumbnail {
  border: none;
  padding: 0;
}

.modal-header {
  padding-bottom: 0;
  color: white;
}

.modal-header .close {
  color: white;
  margin-top: 0;
  opacity: 1;
}

.modal-content {
  border: none;
  box-shadow: none;
}