html, body {
  background-color: black;
}

.page-header {
  margin-top: 1.5em;
  font-family: 'Helvetica Neue';
  text-align: center;
  border-bottom: none;
  color: white;
}

.main-portfolio {
  margin-bottom: 4em;
}

.portfolio-item {
  margin-bottom: 1em;
}

#contact {
  background-color: white;
}